<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <!-- Replace credentials in the URL with your App Credentials. Full permissions list at: https://developers.coinbase.com/docs/wallet/permissions -->

    <a
      href="https://www.coinbase.com/oauth/authorize?response_type=code&client_id=f0261f5c4edead2bb78708a86b79077f76d58f1c8ca7ba0030e8c4c8eacd56e5&redirect_uri=http://localhost:3006/callback&state=your_secret&scope=wallet:user:read"
      >Connect with Coinbase</a
    >
  </body>
</html>
